<div class="table">
  <div class="row header">
    <h1>hello</h1>
    <%= image_tag @post.image_file_name %>
    <h2><%= @post.title %></h2>
    <h4><%= @post.description %></h4>
  </div>

  <hr>
  <div class="row">
    <h2>Comments:</h2>
    <% if @post.comments.any? %>
    <% @comments.each do |comment| %>
    <div>
      <h3><%= comment.body %></h3>
      <p><%= link_to "Edit", edit_post_comment_path(@post, comment) %> | <%= link_to "Delete", post_comment_path(@post, comment), :data => {
                                                  :confirm => "Are you sure?",
                                                  :method => "delete"} %></p>
    </div>
    <% end %>
  <% else %>
    <p>There are no comments yet!</p>
    <% end %>
    <p><%= link_to "Add a response", new_post_comment_path(@post) %></p>
  </div>
  <hr>
  <div class="row">
    <p><%= link_to "Edit post", edit_post_path(@post) %> |
    <%= link_to "Delete post", post_path, :data => {
                                                :confirm => "Are you sure?",
                                                :method => "delete"} %></p>
  </div>
</div>
